bcrypt==4.3.0
beanie==2.0.0
black==25.9.0
fastapi[standard]==0.119.0
pydantic-extra-types==2.10.6
pydantic-settings==2.11.0
pyjwt==2.10.1
passlib[bcrypt]==1.7.4
langchain-community==0.3.31
langchain-ollama==0.3.10
langchain-mongodb==0.7.0
langchain-unstructured==1.0.1
pypdf==6.1.1
motor==3.7.1
nltk==3.9.2
tiktoken==0.12.0
torch==2.8.0
transformers==4.57.0
wordfreq==3.1.1
langdetect==1.0.9