beanie
black
fastapi[standard]
pydantic-extra-types
pydantic-settings
pyjwt
passlib[bcrypt]
langchain_community
langchain_ollama
langchain-mongodb
pypdf
motor
nltk
tiktoken
torch
transformers
wordfreq
langdetect